.content {
  display: flex;
  gap: var(--space-4);
}

.icon,
.danger,
.primary {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: var(--radius-full);
}

.danger {
  background: var(--color-danger-subtle);
  color: var(--color-danger-text);
}

.icon,
.primary {
  background: var(--color-accent-subtle);
  color: var(--color-accent-text);
}

.title {
  font-size: var(--text-md);
  padding-top: 6px;
}

.message {
  margin-top: var(--space-2);
  color: var(--color-text-muted);
  font-size: var(--text-base);
}
